:root {
  /* color */
  --color-black: #2e3135;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-btn: 50px;
  --size-border: 4px;
  --size-thumbnail: 40px;
  --font--size: 18px;

  /* animation */
  --animation-duration: 200ms;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-black);
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: calc(var(--base-space) * 2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:last-child {
  margin-right: 0;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.imgBtn {
  width: var(--size-btn);
  height: var(--size-btn);
}

.colorBtn {
  font-size: var(--font--size);
  padding: calc(var(--base-space) * 1.5);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 500px;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  border-radius: var(--size-border);
  display: flex;
  align-items: center;
  padding: var(--base-space) calc(var(--base-space) * 2);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: calc(var(--base-space) * 2);
  font-size: var(--font--size);
}
